/1ALL_Bootcump/
/1ALL_Python/
/1ALL_Algoritms/
/1Hometest/
/Pandas_Colaboratory/
/Java/.idea
/Java/out
/Java/.gitignore
/Java/JavaSemenar.iml
/Java/JavaHomeAndWork/.idea
/Java/JavaHomeAndWork/.gitignore
/Java/GeekBrains.iml
/Java/JavaHomeAndWork/JavaSemenar.iml
